



<h4>Collection Name: <%= @board.name %> </h4>
<h4>Collection Description: <%= @board.description %> </h4>

<div class='container'>
<% @board.memories.each do |memory| %>
   
   <h4>Name:</h4><%= memory.name %>
    <h4>Uploaded Memory: </h4><div class='memory'><iframe src="<%=memory.uploaded_memory%>" width="500" height="500"/><br><br></iframe></div>
    Description: <%= memory.description %><br><br><br><br>
</div>
   
    <% end %>


<form method='POST' action='/boards/<%= @board.id %>/delete'>
<input id='hidden' type='hidden' name='_method' value='DELETE'>
<input type='submit' value='Delete Collection'><br><br>
</form>

<a href='/boards/<%= @board.id %>/edit'>You could also edit this collection, instead</a>





 
